:root {
  --blizzard-blue: #ade8f4ff;
  --powder-blue: #caf0f8ff;
}

body{
  background-color: var(--powder-blue);
}

#container3{
  background-color: var(--blizzard-blue);
  padding: 50px;
}

#chart-container{
  width: 78%;
  margin: 30px auto 0 auto;
}