/* div {
  width: 500px;
} */
body{
  background-color: dodgerblue
}

#color1{
  height: 100vh;
}

#color2{
  background-color: papayawhip;
}

.chart{
  background-color: mediumturquoise;
  width: 100%;
}